.nav, #users {
  position: sticky;
}

#users {
  top: 1em;
}

.nav {
  top: 0px;
  background-color: white;
  padding: 1em 0;
  margin-top: -1em;
  z-index: 1;
}

.list-group-item, .nav-link {
  cursor: pointer;
}

#users .list-group-item {
  display: flex;
  justify-content: space-between;
}

/* X-Small devices (e.g. portrait phones) */
@media (max-width: 576px) {
  #users {
    flex-direction: row;
    overflow: scroll;
  }

  .nav {
    margin-top: 0;
    flex-wrap: nowrap;
    overflow: scroll;
  }

  .user-name {
    white-space: nowrap;
  }

  .user-lang-name {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  body, .nav, .list-group-item {
    background-color: #2d2d2d;
    color: white;
    border-color: rgba(255, 255, 255, .125);
  }

  .token {
    background: none !important;
  }
}

.lang-icon {
  height: 1em;
  width: auto;
  display: inline-block;
  margin-right: 0px;
}
